@font-face {
	font-family: "xique";
	src: url("../assets/font/xique.ttf") format("truetype");
}

.smoke {
	filter: brightness(0.8); 
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url('../1.gif');
	background-size: cover;
	transform: translate(-50%, -50%) rotate(90deg) scaleY(0);
	transform-origin: center bottom;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
}

body {
	cursor: url('../b.png'), auto;
}

video.mySlides {
	height: 400px !important;
	margin-top: 141px;
}

body {
	font-family: "xique", sans-serif;
	margin: 0;
	padding: 0;
}

#tail .option {
	margin-right: 40px;
}

.option.left.top {
	margin-left: 40px;
}

.option.right.top {
	margin-right: 40px;
}

#main {
	/* width: 1650px; */
	height: 920px;
	margin: 0 auto;
	background-repeat: no-repeat !important;
	background-size: auto !important;
	overflow: hidden;
	background-repeat: repeat !important;
	background-size: 100% 100% !important;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#detail {
	display: none;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 78%;
	/* background: url(../assets/img/icon/盘子.png); */
	overflow: hidden;
	background-repeat: repeat !important;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#detail>div {
	width: 100%;
	background: url(../assets/img/icon/盘子.png);
	height: 100%;
	max-width: 1400px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position-y: -60px;
	background-repeat: no-repeat;
	margin-top: 1300px;
}

#detail>div>div {
	width: 60%;
	text-align: left;
}

#head {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 999;
}

#head .option {
	border-bottom: 1px black solid;
	padding-bottom: 6px;
}

#tail .option {
	border-top: 1px black solid;
	padding-top: 2px;
}

.slideshow-container_me {
	justify-content: flex-start !important;
}

#body {
	height: 720px;
	width: 100%;
	margin-top: 116px;
}

#tail {

	height: 100px;
	width: 100%;
	display: flex;
	justify-content: end;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 99;
}

.option {
	width: 228px;
	height: 100%;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

div#MeDetail {
	position: absolute;
	display: none;
	right: -1000px;
	top: -223px;
	z-index: -1;
}

div#MeDetail>img {
	width: 1400px;
}

.option.right {
	align-items: flex-end;
}
iframe.mySlides{
	max-width: 900px;
}
.option.top {
	justify-content: flex-end;
}

#chart{
	height: 100%;
}
/* 轮播图容器样式 */
.slideshow-container {
	/* max-width: 1000px; */
	width: 100%;
	position: relative;
	margin: 30px auto;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

/* 图片样式 */
.slideshow-container .mySlides {
	width: 50%;
	height: 700px;
	object-fit: contain;

}

/* 控制器样式 */
.prev,
.next {
	position: absolute;
	width: 150px;
	height: 90px;
	cursor: pointer;
}

.prev {
	top: 324px;
	left: 0px;
	/* float: left;
	transform: translate(-80%, -390%); */
}

.next {
	top: 324px;
	right: 0px;
	/* float: right;
	transform: translate(80%, -377%); */
}


#title {
	font-size: 30px;
	padding: 30px 50px 0 50px;
}

#info {
	padding: 10px 50px 10px 50px;
}

#desc,
#desc_english {
	/* font-size: 20px; */
	padding: 0 50px 0 50px;
}

@media screen and (max-width: 960px) {

	#main {
		background-position: inherit !important;
		background-size: 100% !important;
	}
}

.det_next {
	cursor: pointer;
	position: absolute;
	/* right: 0; */
	top: 50%;
	transform: translate(0, -50%);
	margin-top: -46px;
	font-size: 4.8125rem
}

.det_pre {
	cursor: pointer;
	position: absolute;
	margin-top: -46px;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	font-size: 4.8125rem
}

/* @media screen and (min-width: 1100px) {
	#detail {
		display: none;
	    width: 100%;
		text-align: left;
		align-items: center;
		justify-content: center;
		height: 78%;
	}
	#detail>div{
		width: 60%;
	}
	#main {
	    background-position: inherit !important;
	    background-size: 100% !important;
		background-position-y: -177px !important;
	}
}
@media screen and (min-width: 1300px) {
	#detail {
		display: none;
	    width: 800px;
	    height: 78%;
	}
	#main {
	    background-position: -653px -356px !important;
	    background-size: 135% !important;
	}
	#detail>div{
		width: 100%;
	}
}
@media screen and (min-width: 1500px) {
	#detail{
		display: none;
		width: 1000px;
		height: 78%;
	}
	#detail>div{
		width: 100%;
	}
}
@media screen and (min-width: 1650px) {
	#detail{
		display: none;
		width: 1200px;
		height: 78%;
	}
	#main {
	    background-position: -856px -474px !important;
	    background-size: 135% !important;
	}
	#detail>div{
		width: 100%;
	}
} */
@media screen and (max-width: 768px) {
	.option {
		font-size: 18px;
	}

	.prev,
	.next {
		/* width: 100px; */
	}

	.prev {
		left: -18px;
	}

	.next {
		right: -21px;
	}

	#head .option {
		width: 33%;
	}

	#tail .option {
		width: 33%;
		margin-right: 20px;
	}

	.option.left.top {
		margin-left: 20px;
	}

	.option.right.top {
		margin-right: 20px;
	}

	#detail>div>div {
		width: 86%;
	}

	#title {
		font-size: 16px;
	}

	#desc,
	#desc_english,
	#title,
	#info {
		padding: 0px;
	}

	#desc,
	#desc_english {
		font-size: 16px;
	}

	#detail>div {
		width: 100%;
		background: url(../assets/img/icon/盘子.png);
		height: 100%;
		max-width: 1400px;
		background-size: 221%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-position-y: -21px;
		background-repeat: no-repeat;
		margin-top: 1300px;
		background-position-x: -244px;
	}
}
